# Configuration file (template)
# -----------------------------
# 1. rename to (gitignored) file .env BEFORE making changes
# 2. Set variables and secrets in .env (not in template!)
# 3. Replace { values } in .env with actual settings
#
# (DO NOT CHECK INTO GIT REPO AFTER ADDING SECRETS AND DO NOT
# MODIFY TEMPLATE)

# Base name (no spaces)
BASE_NAME =

# AWS
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_REGION =

# Image directory to watch
WATCH_DIR = '/home/animl/data/{ base_station_name }/cameras/'
# WATCH_DIR = "c:\BuckEyeCam\X7D Base\pictures\" # Windows

# Directories for queued and archived images
QUEUE_DIR = '/home/animl/images/queue'
ARCHIVE_DIR = '/home/animl/images/archive'

# Limits on directory size in GB and disk use
QUEUE_LIMIT_GB = 5
ARCHIVE_LIMIT_GB = 10
# this value is overall disk use and includes all applications
# on the machine, it will make sure that the machine does not
# get bricket by Animl BUT if the disk is very full it could
# mean that all Animl images will get deleted immediately
DISK_LIMIT_PERCENT = 80

# Log file to watch
LOG_FILE = '/home/animl/data/{ base_station_name }/log.txt'
# LOG_FILE = "c:\BuckEyeCam\X7D Base\log.txt" # windows

# S3
DEST_BUCKET =
