# Base name (no spaces)
BASE_NAME =

# AWS
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_REGION =

# Image directory to watch
# replace {base_name} with the actual value that must
# match BASE_NAME entry
WATCH_DIR = '/home/animl/data/{base_name}/cameras/'
# WATCH_DIR = "c:\BuckEyeCam\X7D Base\pictures\" # Windows

# Directories for queued and archived images
QUEUE_DIR = '/home/animl/images/queue'
ARCHIVE_DIR = '/home/animl/images/archive'

# Log file to watch
# replace {base_name} with the actual value that must
# match BASE_NAME entry
LOG_FILE = '/home/animl/data/{base_name}/log.txt'
# LOG_FILE = "c:\BuckEyeCam\X7D Base\log.txt" # windows

# S3
DEST_BUCKET = 's3-bucket_name'

# for cron disk-manager
# Limits on directory size in GB and disk use
QUEUE_LIMIT_GB = 10
ARCHIVE_LIMIT_GB = 10
# this value is overall disk use and includes all applications
# on the machine, it will make sure that the machine does not
# get bricket by Animl BUT if the disk is very full it could
# mean that all Animl images will get deleted immediately
DISK_LIMIT_PERCENT = 60

# for cron watchdog
# x-api-key value, please contact falk.schuetzenmeister@tnc.org
WATCHDOG_X_API_KEY='an_api_key'
# string of comma separated email addresses
WATCHDOG_SUBSCRIPTIONS = 'someone@somewhere.com,someoneelse@somewhere.org'
# string that will appear in watchdog emails
WATCHDOG_LABEL = 'a_label'
