# Create an .env file from this template

# Hints:
# Empty values (that are not outcommented) need to be populated
# Lines that are commented out AND have a value represent defaults

# Base name (no spaces)
BASE_NAME =

# AWS
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_REGION =

# Image directory to watch
# replace {base_name} with the actual value that must
# match BASE_NAME entry
WATCH_DIR = '/home/animl/data/{base_name}/cameras/'
# WATCH_DIR = "c:\BuckEyeCam\X7D Base\pictures\" # Windows

# Directories for queued and archived images
QUEUE_DIR = '/home/animl/images/queue'
ARCHIVE_DIR = '/home/animl/images/archive'

# Log file to watch
# replace {base_name} with the actual value that must
# match BASE_NAME entry
LOG_FILE = '/home/animl/data/{base_name}/log.txt'
# LOG_FILE = "c:\BuckEyeCam\X7D Base\log.txt" # windows

# S3
DEST_BUCKET = 's3-bucket_name'

# for cron disk-manager
# Limits on directory size in GB and disk use
# this value is overall disk use and includes all applications
# on a machine.
# DISK_LIMIT_PERCENT = 60
# DISK_MOUNT_PATH = '/'
# DELETE_QUEUE_FOR_DISK = false

# for cron watchdog
# x-api-key value, please contact falk.schuetzenmeister@tnc.org
WATCHDOG_ENABLED = true
# for cron watchdog
WATCHDOG_X_API_KEY= # 'an_api_key'
# string of comma separated email addresses
WATCHDOG_SUBSCRIPTIONS = # 'someone@somewhere.com,someoneelse@somewhere.org'
# string that will appear in watchdog emails
WATCHDOG_LABEL = # 'a_label'
